/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

\.DS_Store
public/js/app\.js
_ide_helper.php
\.nova
public/js/app.js.LICENSE.txt
public/js/manifest.js
public/js/vendor.js
public/js/vendor.js.LICENSE.txt
public/js/admin.js
public/mix-manifest.json
public/js/admin.js.LICENSE.txt
public/js/app/

resources/js/ziggy.js
/less-watch-compiler.config.json
